
<div class="tabs_sukanta">

    <ul class="tab-links">
      <% if User.current.companies_id.present? %>
        <li class="active"><a href="#tab1">Company Files</a></li>
      <% end %>
       <li class="<%= "active" if !User.current.companies_id.present? %>"><a href="#tab2">Project Files</a></li> 
    </ul>
   
    <div class="tab-content">
      <% if User.current.companies_id.present? %>
        <div id="tab1" class="tab active">
          <%= render 'company_files' %>
        </div>
       <% end %>
      <div id="tab2" class="tab <%= " active" if !User.current.companies_id.present? %>">
          <%= render 'project_files' %> 
      </div>
    </div>
    
</div>

<script type="text/javascript">
  
  jQuery(document).ready(function() {
    jQuery('.tabs_sukanta .tab-links a').on('click', function(e)  {
        var currentAttrValue = jQuery(this).attr('href');
 
        // Show/Hide Tabs
        jQuery('.tabs_sukanta ' + currentAttrValue).show().siblings().hide();
 
        // Change/remove current tab to active
        jQuery(this).parent('li').addClass('active').siblings().removeClass('active');
 
        e.preventDefault();
    });
});

</script>




